<!DOCTYPE html>
<html>
<head>
    <title>About | Swati Jadav</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="#">Skills</a>
        <a href="#">Contact</a>
    </nav>

    <div class="container">
        <h1>About Me</h1>
        <p>
            Hello! My name is <b>Swati Jadav</b>.  
            I am a BE student with an IT background.
        </p>

        <p>
            I am learning <b>Python</b> and <b>Flask</b> to build modern websites.
            My goal is to become a skilled software professional.
        </p>
    </div>

</body>
</html>
