<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
</head>
<body>
    <h2>Contact Me</h2>

    <form method="POST">
        Name:<br>
        <input type="text" name="name" required><br><br>

        Email:<br>
        <input type="email" name="email" required><br><br>

        Message:<br>
        <textarea name="message" required></textarea><br><br>

        <button type="submit">Send</button>
    </form>

    <p style="color:green;">{{ msg }}</p>
</body>
</html>
