<!DOCTYPE html>
<html>
<head>
    <title>Skills | Swati Jadav</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/skills">Skills</a>
        <a href="#">Contact</a>
    </nav>

    <div class="container">
        <h1>My Skills</h1>

        <ul class="skills">
            <li>Python</li>
            <li>Flask</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Basic Database</li>
        </ul>
    </div>

</body>
</html>
