<!DOCTYPE html>
<html>
<head>
    <title>Saved Contacts</title>
</head>
<body>

<h2>Saved Contact Data</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
    </tr>

    {% for row in rows %}
    <tr>
        <td>{{ row["id"] }}</td>
        <td>{{ row["name"] }}</td>
        <td>{{ row["email"] }}</td>
        <td>{{ row["message"] }}</td>
    </tr>
    {% endfor %}

</table>

<br>
<a href="/contact">Go Back</a>

</body>
</html>
